extends layout

append body
	//- using passed variables from index.js is a great plan
	h1=title

	.jumbotron#centertron
		h3 Welcome to the D20 Dominion.
		p Here, we try to match people looking for group with other tabletop RPG players and GMs/DMs to construct the gaming groups your dreams are made of.
		p We know it can be hard to find other people interested in joining you, who want to play in the same system and sometimes, it just gets too hard to keep asking around.

		h4 We want to save you the trouble
		p We've designed a system where you can tell us a bit about you and what you're looking for, and we'll put in the hard work. We'll search our user base to find the ones nearby that are right for you. So you can spend less time searching, and more time questing, fighting, giving oders etc.
		p Because let's face it, we aren't likely to all be at the same tavern at the same time...

	.jumbotron#centertron
		h3 So how does it work?
		h4 Magic.
		p Or, via our less magical matching algorithm, if you want to get into the details.
		p Once we have your profile details and your matching preferences, you're ready to set us on the search for your compatible players. This works by checking other players' details against what your're looking for. We search each of our users for their experience, game system and player status. We prioritise those using the same game system, to make your life a little easier. We score each player on their compatibility, and then sort matching scores by distance, so you can find which of them is closest to you. If you'd like to see the real nitty-gritty, or learn about or progress, read our 
			a(href="report") dev report
			|.