extends layout

append body
	h1= title
	.jumbotron#centertron
		if(user)
			p Hi #{user.username}, welcome back!
			p#break
			p It's nice to see you again, you know how to get started, so happy matching!
		unless(user)
			p Welcome to the d20 Dominion.
			p Here, we match tabletop rpg players to similar players, so that you can get a gaming group together. Check our nav bar for options if you just want to look around.
			p If you're already keen to jump in and get started, sign up 
				a(href="signup") Here
				|!
