extends ../node_modules/pug-bootstrap/_bootstrap

append head
	link(rel='stylesheet', href='/stylesheets/style.css')
	link(rel='stylesheet', href='/stylesheets/bootstrapOverride.css')
	script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
	script(src='/javascripts/global.js')

append body
	.container
			+navbar-fixed("Project name","dropdown_menu","default","/")
				//- Add a nav item with (href, class) and displayed text following
				+nav_item("index", "index") Home
				+nav_item_dropdown("#", "about report")(label="About")
					+nav_item("about", "about") About Us
					+nav_item("report", "report") Dev Report
					+nav_item("contact", "contact") Contact
				if(!user)
					+nav_item_dropdown("#", "login signup")(label="Log In/Sign Up")
						+nav_item("login", "login") Log In
						+nav_item("signup", "signup") Sign Up
				if(user)
					+nav_item("myprofile", "profile") Profile
					+nav_item_dropdown("#", "searchprefs, mymatches")(label="Seek")
						+nav_item("searchprefs", "searchprefs") Preferences
						+nav_item("mymatches", "mymatches") Find
					+nav_item("logout") Log Out
						
					

	//- So, variables passed to the page from index.js can be referenced as text by the method below.
	//- The apostrophes are very, very important if being passed to Javascript
	script.
		makeActive('#{page}');