extends layout

append body

	h1=title
	if(!user)
		.jumbotron
			form(name="log-in", method="post")
				div.input
					p#inputheading Username
					input(type="text", name="username", action="login")
					p#inputheading Password
					input(type="password", name="password")
				div.actions
					input(type="submit", value="Log in")
			p

		.jumbotron#centertron
				p Newbie?
				p Don't have an account yet?
				p Sign up 
					a(href="signup") Here
					|!
	if(user)
		.jumbotron#centertron
			p Already logged in as #{user.username}
			p How did you even get to this page?