extends layout



append head
	script(src="/config/rpgDetails.js")
		//-Plan to get this from the DB in future
	script(src="/javascripts/profile.js")



append body

	h1=title

	-var matchlist = matches[0];
	each profile in matchlist

		.jumbotron#matchatron
			h3=profile.username
			if (profile.img)
				img(src=profile.img)
			else
				img(src="./images/placeholder.jpg")
			h4 System:
			p=profile.system
			p#break

			h4 Player Status:
			if (profile.gm)
				p GM/DM
			if (profile.player)
				p Player
			p#break

			-var expLabels = ["Noob (0-6 months)", "Initiate (6 months-18 months)", "Proven (18 months-3 years)", "Veteran (3-5 years)", "Font of Wisdom 5+ years"]
			h4 Experience Level
			p=expLabels[profile.exp]
			p#break

			h4 Contact Email
			a(href="mailto:"+profile.email) profile.email

