extends layout

append head
	script(src="/config/rpgDetails.js")
		//-Plan to get this from the DB in future
	script(src="/javascripts/profile.js")

append body

	script.
		function view(){ window.location.href = "/profile?name="+'#{user.username}'}

	div.title
		h1=title
			label  Edit
			label.switch
				input#RO(type="checkbox", name="editprofile", onclick="view()", checked)
				div.slider.round
			label(for="editprofile") View 
		div.clear

	.jumbotron
		h4 Important stuff
		form#edit-details(name="edit-details", method="post", action="/myprofile?form=email")
			div.input
				p#inputheading Email
				input(type="email", name="email", value=profile.email)
			div.actions
				input(type="submit", value="Update email")
		form#pass(name="pass", method="post", action="/myprofile?form=pass")
			div.input
				p#inputheading Password
				input(type="password", name="password")
			div.actions
				input(type="submit", value="Change Password")

	.jumbotron#centertron
		h4 Profile Picture
		img(src="./images/placeholder.jpg")
		form#profile-picture(name="profile-picture", method="post", action="/myprofile?form=picture")
			div.input
				input(type="file", name="uploadpic")
				input(type="submit", value="Upload")


	.jumbotron#entertron
		h4 Profile details


	script.
		buildForm(!{JSON.stringify(profile)});
		//editSlider();
		
	.jumbotron#centertron
		h4 Delete this Account?
		form(name="Delete Account", method="post", action="/goodbye")
			div.actions
				input#deathbutton(type="submit", value="Delete", onclick="return confirm('Are you Sure? This is permanent and irrevocable!')")