extends layout

append head
	script(src="/config/rpgDetails.js")
		//-Plan to get this from the DB in future
	script(src="/javascripts/profile.js")



append body

	script.
		function view(){ window.location.href = "/myprofile"}

	div.title
		h1=title
			if(user.username == profile.username)
				label  Edit
				label.switch
					input#RO(type="checkbox", name="editprofile", onclick="view()")
					div.slider.round
				label(for="editprofile") View 
		div.clear

	.jumbotron#centertron
		h3=profile.username

		if (profile.img)
			img(src=profile.img)
		else
			img(src="./images/placeholder.jpg")

		h4 Name
		if (profile.firstname)
			p=profile.firstname
		if (profile.lastname)
			p=profile.lastname
		p#break
			
		h4 System:
		p=profile.system
		p#break

		h4 Player Status:
		if (profile.gm)
			p GM/DM
		if (profile.player)
			p Player
		p#break

		-var expLabels = ["Noob (0-6 months)", "Initiate (6 months-18 months)", "Proven (18 months-3 years)", "Veteran (3-5 years)", "Font of Wisdom 5+ years"]
		h4 Experience Level
		p=expLabels[profile.exp]
		p#break

		h4 About Me:
		p=profile.about
		p#break

		if (profile.player)
			h4 Play info:

			h4 Currently Playing/Preferred:
			p=profile.origin
			p=profile.class

			h4 Character Description
			p=profile.desc
			p#break

		h4 Contact Email

		a(href="mailto:"+profile.email) #{profile.email}

