extends layout

append body
	//- using passed variables from index.js is a great plan
	h1=title

	.jumbotron#centertron
		h3 About Our App's Development.

		h4 Challenges
		p Pug-bootstrap is relatively unpleasant at times and we did not enjoy it. Difficulties trying to implement webpack for a slightly different, easier to work within, environment, but found the problem of implementation intractable. Retrieving data from the database proved very difficult. Scoping variables when using Mongoose proved an issue, as everything is a function. The biggest challenge, however was the scope of the project and the knowledge requirements to implement all that was necessary to get the project running. This project took over 80 person-hours of research, practise, coding and testing to get to the point of hand-in, where not all desired functionality was implemented, and many aspects of the app were not perfected. More time simply could not be afforded due to other commitments.
		p#break

		h4 Architecture and rationale
		p Due to limited time constraints, much additional functionality, such as the inclusion of location as a matching parameter was not included. The basic functionality had to take preference to make development within the given limit possible. A full MEAN stack was achieved, however pug was implemented, taking over many of the duties otherwise assigned to AngularJS. The app allows the creation and deletion of accounts, editing of profile details, viewing of personal profiles, searching matches, viewing match profiles and different views and navigation availabilities for users and visitors. 

		p
		h4 Our matching strategy.
		p Because not all traits are created equal, we have implemented a weighted matching algorithm. As a player's experience is not a set value, and on a sliding scale, we have assigned two rankings, one for an exact match, and one for a player identified as the next level below or above. Systems and player types are more rigid categories, and both have been assigned one value. As players and GMs can swap, this has been given less priority than the game system, and the same priority as an exact experience level match. The game system has been given the highest weighting, as learning a new game system can take a significant amount of time, and people can be unwilling to devote the energy and time it takes to start the learning process again. Any non-match is of course, given a value of zero.
		p

		table#small
			thead
				tr.head
					th Attribute
					th Full Match
					th Partial Match
					th No Match
				tr.body
					td Game System
					td 3
					td n/a
					td 0
				tr.body
					td Player Type
					td 2
					td n/a
					td 0
				tr.body
					td Experience Level
					td 2
					td 1
					td 0
		p#break
		p Based on this weighting, matches would appear in the following order (with 'P' representing a partial match):
		p

		table#small
			thead
				tr.head
					th Player Type
					th Game System
					th Experience Level
					th Total Weight
				tr.body
					td Y
					td Y
					td Y
					td 7
				tr.body
					td Y
					td Y
					td P
					td 6
				tr.body
					td Y
					td Y
					td N
					td 5
				tr.body
					td N
					td Y
					td Y
					td 5
				tr.body
					td Y
					td N
					td Y
					td 4
				tr.body
					td N
					td Y
					td P
					td 4
				tr.body
					td Y
					td N
					td P
					td 3
				tr.body
					td N
					td Y
					td N
					td 3
				tr.body
					td N
					td N
					td Y
					td 2
				tr.body
					td Y
					td N
					td N
					td 2
				tr.body
					td N
					td N
					td P
					td 1
				tr.body
					td N
					td N
					td N
					td 0
		p#break
		p From here, the distance of the matches would come in to play given more time. Users could choose a maximum distance they are willing to seek matches within. As the suitability of matches has been deemed the most important, distance will be used to preference matches with the same scores. This will be done by adding a value between 0 and 1 to the match weighting value, calculated using the users input. The formula used will be 1-Distance/User Maximum. For example, to match with a user who has specified a maximum 50km distance, the weightings for different users may be calculated as follows
		
		table#large
			thead
				tr.head
					th User
					th Player Type
					th Game System
					th Experience Level
					th Weighting
					th Distance
					th Distance Weight
					th Total
				tr.body
					td User1
					td Y
					td Y
					td Y
					td 7
					td 4km
					td 0.92
					td 7.92
				tr.body
					td User2
					td Y
					td Y
					td Y
					td 7
					td 12km
					td 0.76
					td 7.76
				tr.body
					td User3
					td Y
					td Y
					td N
					td 5
					td 2km
					td 0.96
					td 5.96
		p#break
		p In this way we have ensured that proximity would never override suitability, and that matches of the same value are ordered by closeness.
		p#break

		h3 Testing
		p Automated unit testing is accesible via /test, however, give time constraints and the simplicity of the app's use, user tests were performed manually, as mocha required more time to master than was available beyond some simple tests. These manual test included making and deleting an account from the UI, but also searching for matches, editing account information, changing search preferences, and viewing dummy match profiles. Manual tests, however, are import for determining usability of interfaces and can pick up other mistakes, such as error is headings and placements.

		p#break
		h3 References
		p Dagenais, A. 2017. navbar-fixed.pug. [ONLINE] Available at:
			a(href="https://github.com/rajasegar/JADE-Bootstrap/blob/master/layouts/navbar-fixed.pug") https://github.com/rajasegar/JADE-Bootstrap/blob/master/layouts/navbar-fixed.pug
			| [Accessed 23 May 2017].

		h4 Image sources
		p Background image: 
			a(href="https://s-media-cache-ak0.pinimg.com/originals/66/4c/e6/664ce6c6d9d9a03526319162372a3ae9.jpg") https://s-media-cache-ak0.pinimg.com/originals/66/4c/e6/664ce6c6d9d9a03526319162372a3ae9.jpg
		p Profile placeholder from:
			a(href="http://planet.cloudadmins.org/") http://planet.cloudadmins.org/

