extends layout

append head
	script(src="/config/rpgDetails.js")
		//-Plan to get this from the DB in future
	script(src="/javascripts/profile.js")

append body

	h1=title

	-var noob = false;
	-var init = false;
	-var prov = false;
	-var vet = false;
	-var font = false;
	//.script
		var exp = #{preferences.exp}

		for(var i = 0; i<exp.length; i++){
			if(exp[i] == 0){
				noob = true;
			}
			if(exp[i] ==1){
				init = true;
			}
			if(exp[i] ==2){
				prov = true;
			}
			if(exp[i] ==3){
				vet = true;
			}
			if(exp[i] ==4){
				font = true;
			}
		}
		

	.jumbotron#centertron
		h3 I'm looking for a:
			p (Choose as many of the options as you'd like)

		form(name="edit-details", method="post", action="/searchprefs?form=edit-details")
			div.input
				p GM/DM 
					input(type="checkbox", name="GM", checked=preferences.gm)
				p Player  
					input(type="checkbox", name="Player", checked=preferences.player)
				h4 With an Experience level of:
				p Noob (0-6 months) 
					if (noob)
						input(type="checkbox", name="Noob", checked=true)
					else
						input(type="checkbox", name="Noob")

				p Initiate (6 months-18 months)
					if (init)
						input(type="checkbox", name="Initiate", checked=true)
					else
						input(type="checkbox", name="Initiate")

				p Proven (18 months-3 years)
					if (prov)
						input(type="checkbox", name="Proven", checked=true)
					else
						input(type="checkbox", name="Proven")
	
				p Veteran (3-5 years)
					if (vet)
						input(type="checkbox", name="Veteran", checked=true)
					else
						input(type="checkbox", name="Veteran")

				p Font of Wisdom 5+ years 
					if (font)
						input(type="checkbox", name="Font", checked=true)
					else
						input(type="checkbox", name="Font")

				h4 Playing:
				select(name="system", value=preferences.system)
					option(value="any") Any
					option(value="darkHeresey") Dark Heresey
					option(value="rogueTrader") Rogue Trader
					option(value="deathWatch") Death Watch
					option(value="dnd") Dungeons and Dragons

				p#break
					|

				div.actions
					input(type="submit", value="Save My Preferences")
					input(type="submit", value="Save & Search Now")
