extends layout

append body

	h1=title
	if(!user)
		.jumbotron#centertron
			p Signing up is fast, easy and free.
			p We also won't send you annoying notifications!
			p If you want to know more about us first, try our 
				a(href="about") About 
				|section!

		.jumbotron
			//- method = post is good,
			//- edit the signup handler in index.js to manage
			//- adding the user to the database
			form(name="add-estimation", method="post", action="/signup")
				div.input
					p#inputheading Username
					input(type="text", name="username", required)
					input(type="submit", value="Check availability")
					p#inputheading Password
					input(type="password", name="password", required)
				div.actions
					input(type="submit", value="Get an Account")
			p=message
	if(user)
		.jumbotron#centertron
			p Already logged in as #{user.username}
			p How did you even get to this page?