body {
  padding: 1em 50px 1em 50px;
  margin-top: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
	color: white;
	padding-top: 0.5em;
	padding-bottom: 0.6em;
	padding-left: 0.5em;
}

h2 {
	margin:0 0 .5em 0;
}

h3{
	font-size: 28px;
	font-weight: bold;
	font-variant: small-caps;
}

h4{
	font-size: 24px;
	font-weight: bold;
	font-variant: small-caps;
}

a {
  color: #00B7FF;
}

#wrapper {
	padding-left:312px;
	position:relative;
}

#userList {
	margin:0 0 30px 0;
}
	#userList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#userList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#userList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#userList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}

a{
	color: mediumblue;
}

a:hover {
	color: slateblue;
}

#inputheading{
	padding: 0;
	margin-bottom: 3px;
}

#notes{
	font-size: 14px;
}

table#small {
    max-width: 50%;
}

table#large{
	max-width: 70%;
}

 table, th, td {
   border: 1px solid black;
   text-align: center;
   margin: auto;
   font-size: 16px;
   padding-top: 5px;
   padding-bottom: 3px;
   padding-right: 10px;
   padding-left: 10px;
}

p#break{
	padding: 10px;
}

p#note{
	font-size: 14px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input{
	font-size: 15px;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.title {
	display: block;
}
.title > h1 > label {
	float: right;
	font-size: 30px;
	color: white;
	padding-bottom: 0.6em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.title > h1 > label > input {
	float: right;
}

.title > h1 > div {
	float: right;
}

.clear {
	clear: both;
}

#deathbutton {
	font-size: 28px;
}

